$red:  #e05f5a;

$padding: 20px;

@mixin font-stack-nav {
	font-family: "Edmondsans", sans-serif;
}

@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 650px)  { @content; }
  }
}
