

.lettering {

.expanded {
	background: #e05f5a;
	@include transition(background .2s linear);
	color: white;
	width: 100%;
	}

 
.fonts {
	margin-top: 100px;
	
}

h1 {
	font-size: 3.5em;
	line-height: 100px;
	margin-bottom: 18px;
	margin-top: 0;
	color: $red;
}

ol li {
	font-size: 20px;
	list-style-type: decimal-leading-zero;
	color: $red;
	padding-left: 10px;
	
}

p {
	font-size: 18px;
	width: 90%;
	line-height: 25px;
	margin: 0 0 0 0;
		
}

span {
		font-size: 10px;
}

h2 {
	font-size: 18px;
	line-height: 124px;
	margin-bottom: 18px;
	padding-top: 12px;

}

h3 {
	font-size: 12px;
	line-height: 18px;
}



.right-module {
	margin-top: 30px;
	background: 0;
	margin-left: 20px;
	padding-left: 20px;
}

.left-module {
	margin-top: 40px;
	background: 0;
	margin-left: 60px;
	padding-left: 20px;
	padding-right: 0;
}


footer {
	margin-top: 800px;
}


}

.buy-btns {
	
	list-style: none;
	padding: 5px;
	margin-bottom: 30px;
	li {
		display: inline;

	}

	span {
		color: $red;
		font-size: 14px;
	}
	a {
		display: inline-block;
		background: white;
		color: #e05f5a;
		padding: 8px;
		font-size: 15px;
		border: 0;

	}
	@include breakpoint(baby-bear) {
		margin-bottom: 8px;
		a {
			font-size: 10px;
		}
	}
	a:hover {
	
	}
}









