@import "compass/css3";
@import "normalize";
@import "bits";
@import "toolbox";
@import "grid";
@import "typography";



a {

  text-decoration: none;
  color: #101010;
  border-bottom: 2px solid transparent;  
}

// -------------------------------------- HEADER
.logo {
	 margin: 50px auto 10px;
	 width: 33px;
	 height: 34px;
	 padding: 8px;
	a {
		background: #e05f5a;
		color: white;
		
	}
}

// ---------------------------------------NAV
.main-nav {  
	list-style: none;
	margin: 0 auto 80px auto;
	padding: 0;
	text-align: center;
	
	li {
		display: inline;
	}
	a {
		display: inline-block;
		padding: 5px;

	}
	

	a:hover {
		border-bottom: 2px solid;

		position: relative;
	}

	
}

.font-btns {
	list-style: none;
	margin: 0 auto 20px auto;
	padding: 0;
	text-align: center;
	
	li {
		display: inline;
	}
	a {
		display: inline-block;
		padding: 5px;
		color: white;

	}
}

// -------------------------------------- PAGE
.page-wrap {
	width: 55%;
	margin: 0 auto;
	padding: 5px;

}

.pointer {
    cursor: pointer;

    }

article p {
  width: 35%;
  margin: 0 auto 10px;
 
}



footer {
	height: 200px;

}
// -------------------------------------- EXPANDED VIEW
.font-btns {
	list-style: none;
	margin: 0 auto 20px auto;
	padding: 0;
	text-align: center;
	
	li {
		display: inline;
	}
	a {
		display: inline-block;
		padding: 5px;
		color: white;

	}
}

.expanded {
	background: #e05f5a;
	color: white;
	width: 100%;

	p {
	padding: 10px 5px 30px 5px;
	width: 35%;
	margin: 0px auto 10px auto;
}

}


